language: android
sudo: false
android:
    components:
        - build-tools-23.0.1
        - android-23
        - extra-android-m2repository
script:
    - cd BlinkIDDemo
    - ./gradlew clean assembleRelease