<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.microblink.blinkid"
    android:versionCode="1"
    android:versionName="0.6.0">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="false" />

    <application
        android:name="com.microblink.BlinkIdSampleApp"
        android:allowBackup="false"
        android:extractNativeLibs="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppTheme.FullScreen">
        <activity
            android:name=".MenuActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensor">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.microblink.activity.DocumentVerificationActivity"
            android:theme="@style/VerificationFlowTheme" />
    </application>

</manifest>