<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.microblink.blinkid.demo" >

    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Required for capturing photos. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" >

        <activity
            android:name=".MenuActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".customcamera.Camera1Activity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppTheme.FullScreen"/>

        <activity
            android:name=".customcamera.camera2.Camera2Activity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppTheme.FullScreen"/>

        <activity android:name=".imagescan.ScanImageActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/Theme.AppTheme.FullScreen">
        </activity>

    </application>

</manifest>
