<manifest package="com.microblink.blinkid.libutils"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name="com.microblink.blinkid.help.HelpActivity"/>
        <activity android:name="com.microblink.blinkid.result.activity.RecognizerBundleResultActivity"/>
    </application>

</manifest>
