<manifest package="com.microblink.libutils"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name="com.microblink.help.HelpActivity"/>
        <activity android:name="com.microblink.result.activity.RecognizerBundleResultActivity"/>
    </application>

</manifest>
